.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background: black;
    color: aliceblue;
    padding: 5%;
    width: 100vw;
    min-height: 100vh;
}