.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    z-index: 10;
}

// Media Query: Tablet or Smaller

@media screen and (max-width: 1000px) {
    .projects-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
    }
}