@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&display=swap');
.particles-main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
}

.main {
    margin: 0;
    font-family: 'Advent Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}